<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>test</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>상품명</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.seq }}</td>
            <td>{{ row.category_name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
