<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <p>월별 대기오염 데이터와 가정 평균 전기세 데이터를 분석하여 대기오염과 전기세의 상관관계를 도출하고,<br>
        실시간 대기오염 정보를 제공하여 사용자에게 에너지 절약을 유도하는 서비스 개발.</p>

    <p>월별 대기오염 데이터 찾고
        월별 가정 평균 전기세(?) 데이터 찾아서<br>
        대기오염 높을 때 전기세
        낮을 때 전기세가 있을 거 아녀요<br>
        
        그면 뭐 대충
        대기오염 높은 경우 전기세가 많이 나오드라 
        이런 결과 도출했다 치고<br>
        
        실시간 대기오염 정보 확인해서 (가능?)
        내일 대기오염 높다던데??<br>
        너네 전기세 많이 내기 싫으면 사용량 줄여라<br>
        
        이런식으로 알림 서비스</p>

        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <a href="/mypage">마이페이지</a>
</body>
</html>