<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
</head>
<body>
    <header>
        <h2>마이페이지</h2>
        <a href="/main"><img src="" alt="사이트 메인 로고 "></a>
    </header>
    <div>
        이메일 : test@gamil.com<br>
        이름 : 이름<br>
        연락처 : 010-1234-5678<br>
        주소 : 광주광역시 광산구 소촌동 광주인력개발원<br>
        
        <a href="/mypage/edit">회원 정보 수정</a>
    </div>
</body>
</html>